<html>
    <head>
        <title></title>
            <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>Novo Aluno</h1>
        <form action="/salvar"method="POST">

            <div class="btn_name">
                <!-- <label for="">Nome :</label> -->
            </div>
                <input type="text" name="nome" placeholder="Nome"> <br/>
            <div class="btn_name">
                <!-- <label for="">Sobrenome :</label> -->
            </div>   
                <input type="text" name="sobrenome" placeholder="Sobrenome"> <br/>
            <div class="btn_name">
                <!-- <label for="">Telefone :</label> -->
            </div>
                <input type="text"name="telefone" placeholder="Telefone"> <br/>
            <hr/>
                <input type="submit" value= "Salvar" class= "btn_salvar" >
            </div>
        </form>
    </body>
</html>